@page "/books/view/{Id}"

@inject IBookRepository _repo

<h3>View Book Details</h3>

@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Invalid Selection. Please try again."></ErrorMessage>
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Book Details."></LoadingMessage>
}
else
{
<div class="row">
    <div class="col-6">
        <table class="table table-responsive">
            <tr>
                <td><strong>Title</strong></td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td><strong>Author</strong></td>
                @if (Model.Author == null)
                {
                    <span class="text-muted">No Author Recorded</span>
                }
                else
                {
                   
                    <td><a href="/authors/view/@Model.Id">@Model.Author.Firstname @Model.Author.Lastname</a></td>
                }

            </tr>
            <tr>
                <td><strong>Summary</strong></td>
                <td>@Model.Summary</td>
            </tr>
            <tr>
                <td><strong>Published Year</strong></td>
                <td>@Model.Year</td>
            </tr>
            <tr>
                <td><strong>ISBN</strong></td>
                <td>@Model.ISBN</td>
            </tr>


        </table>
    </div>
    <div class="col-4">
        <img src="uploads/@Model.Image" style="height:300px; width:300px" />
        <h3 class="text-center text-info">@string.Format("{0:C}", @Model.Price)</h3>
    </div>
</div>
  
}

<a href="/books/" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back To List
</a>

@code {
    [Parameter]
    public string Id { get; set; }

    public Book Model = new Book();
    protected override async Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.BooksEndpoint, Convert.ToInt32(Id));
    }   

}
