@page "/authors/view/{Id}"


@inject IAuthorRepository _repo
@inject NavigationManager _navManager
<h3>View Author Details</h3>

@if (Model == null)
{
    <LoadingMessage Message="Loading Author Details."></LoadingMessage>
}
else
{
    <div class="col-md-4">
       
        <table class="table table-responsive">
            <tr>
                <td>First name</td>
                <td>@Model.Firstname</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>@Model.Lastname</td>
            </tr>
            <tr>
                <td>Biography</td>
                <td>@Model.Bio</td>
            </tr>
        </table>
        <br />
        @if (Model.Books == null || Model.Books.Count < 1)
        {
            <div class="alert alert-dismissible alert-secondary">
                No books for this author.
            </div>
        }
        else
        {
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h4>Author's Books</h4>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var book in Model.Books)
                    {
                        <li class="list-group-item">@book.Title - @book.Price</li>

                    }

                </ul>
            </div>
        }

    </div>
}
<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back to List
</button>


@code {
    [Parameter]
    public string Id { get; set; }

    public Author Model = new Author();
    protected override async Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.AuthorsEndpoint, Convert.ToInt32(Id));
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/authors/");
    }
}
